<!DOCTYPE html>
<html lang="en" ng-app="sliderDemoApp" id="top">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>AngularUI - Slider demo</title>
	<!--<base href=".."></base>-->
	<link rel="stylesheet" type="text/css" href="bower_components/ng-slider/dist/css/ng-slider.min.css">
	<link rel="stylesheet" href="demo/css/app.css">
</head>
<body ng-controller="SlideCtrl">

	<h1>Angular Slider demo</h1>

	<input ng-model="value" type="text" id="mySlider1" slider options="options" />
	<!--above is the slider, which has some non functional API calls bound to it-->

	<div ng-controller="Request">
		<p>testing scope {{test}}</p>
		<button ng-click="get()">GET</button>
		Result : {{result}}
	</div><br>
	<div ng-controller="Request">
		<p>testing scope {{test}}</p>
		<button ng-click="localFetch()">LocalGet</button>
		Result : {{result}}
		<br>
		<button ng-click="factoryFetch()">FactoryFetch</button>
		Result : <br>
		<div ng-repeat="object in koi">
			{{object.PER}}
		</div>

	</div><br>

	<div ng-controller="SlideCtrl">
		<p>testing scope {{test}}</p>
		<button ng-click="matches()">GetResource</button>
		Result : {{data}}
	</div>

	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script src="components/app.js"></script>
	<script src="components/controllers/SlideCtrl.js"></script>
	<script src="components/controllers/Request.js"></script>
	<script src="components/services/KeplerAPI.js"></script>
	<script src="components/services/GetRequest.js"></script>
	<script src="components/services/LocalKepler.js"></script>
	<script src="components/services/JSONP.js"></script>
	<script src="bower_components/ng-slider/dist/ng-slider.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>

</body>
</html>
